<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>
    <script src="../../test-fixture/test-fixture-mocha.js"></script>

    <!-- Step 1: import the element to test -->
    <link rel="import" href="../<%= elementName %>.html">
    <link rel="import" href="../../test-fixture/test-fixture.html">
</head>
<body>

    <!-- You can use the document as a place to set up your fixtures. -->
    <test-fixture id="<%= elementName %>">
        <template>
            <<%= elementName %>></<%= elementName %>>
        </template>
    </test-fixture>

    <script>
	  var elem;

	  beforeEach(function() {
		    elem = fixture('<%= elementName %>');
	  });
	
    describe('<<%= elementName %>>', function() {

        a11ySuite('<%= elementName %>');

        it('has failing tests so you know really quickly to write more!', function() {
            expect(true).to.be.equal(false);
        });
        it('really hopes that this makes you write better code.', function() {
            expect(true).to.be.equal(false);
        });
        it('understands that tests will make you happier.  Maybe not today, but soon.', function() {
            expect(true).to.be.equal(false);
        });
    });
    </script>

</body>
</html>
