<link rel="import" href="../polymer/polymer.html">

<!--
<%= elementDescription %>

Example:

    <<%= elementName %>></<%= elementName %>>

@group PhotoShelter.com Elements
@element <%= elementName %>
@demo
-->
<dom-module id="<%= elementName %>">
<template>
    <style>
    :host {
        display: block;
        box-sizing: border-box;
    }
    </style>
</template>
</dom-module>

<script>

Polymer({

    is: '<%= elementName %>',

    /**
    * List the events that you component emits and associated documentation to
    * undestand the most beneficial way to leverage those events here.
    *
    * @event <%= elementName %>-event
    */

    properties: {

        /**
        * `public` indicate the public and private API available when
        * implementing this component.
        */
        public: {
		type: String,
		computed: '_computePublic(_privateVal)',
		observer: '_publicChanged'
	},

        /**
        * Private APIs should be so notated by a
        * preceeding `_` in the porperty name.
        */
        _privateVal: String

    },

    /*
    * Include your observers here.
    * e.g. 'method(msg)'
    */
    observers: [],

    /*
    * Include your listeners here.
    * e.g. 'id.tap': '_method'
    */
    listeners: {},

    /*
    * Include your lifecycle functions here.
    */
    created: function() {
	// 'created' is called before barely anything in the component is
	// available, but can be useful for any preflight code you might want to
	// run you component with.
    },

    ready: function() {
        // `ready` is called after all elements have been configured, but
        // propagates bottom-up. This element's children are ready, but parents
        // are not.
        //
        // This is the point where you should make modifications to the DOM (when
        // necessary), or kick off any processes the element wants to perform.
    },

    attached: function() {
        // `attached` fires once the element and its parents have been inserted
        // into a document.
        //
        // This is a good place to perform any work related to your element's
        // visual state or active behavior (measuring sizes, beginning animations,
        // loading resources, etc).
    },

    detached: function() {
        // The analog to `attached`, `detached` fires when the element has been
        // removed from a document.
        //
        // Use this to clean up anything you did in `attached`.
    },

    /*
    * Include your changed callbacks here.
    */
    _publicChanged: function(newVal, oldVal) {
	//compare or react to the newVal
    },

    /*
    * Include your computed properties here.
    */
    _computePublic: function(privateVal) {
    	return privateVal + ' is not public';
    },

    /**
    * There is much that you can describe to the implementor abour your
    * components public and private methods.
    *
    * @param {string} outline the arguments that will be recieved.
    * @return {boolean} outline the way your method will respond to being called.
    */
    method: function(msg) {
        msg = msg || 'When you fire events you can attach all ' +
            'sorts of data to them.';
        var eventData = {
            msg: msg
        }
        this.fire('<%= elementName %>-event', eventData);
        return false;
    },
    /**
    * Private methods should be so notated by a preceeding `_` in the
    * method name.
    *
    * @return {boolean} outline the way your method will respond to being called.
    */
    _method: function() {
        return false;
    }

});

</script>
